<a href="https://colab.research.google.com/github/tanoManzo/mimic_trajectories/blob/dev/MIMIC_TRAJECTORY_embeddings_04_collect_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Collection, Embeddings and Attitude

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
notes_path = "/content/drive/MyDrive/NIH/Data/"

In [7]:
d_items = "D_ITEMS.csv"
df_d_items = pd.read_csv(notes_path+d_items)
df_d_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12487 entries, 0 to 12486
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ROW_ID        12487 non-null  int64
 1   ITEMID        12487 non-null  int64
 2   LABEL         12483 non-null  object
 3   ABBREVIATION  2992 non-null   object
 4   DBSOURCE      12487 non-null  object
 5   LINKSTO       12487 non-null  object
 6   CATEGORY      6049 non-null   object
 7   UNITNAME      1234 non-null   object
 8   PARAM_TYPE    2992 non-null   object
 9   CONCEPTID     0 non-null      float64
dtypes: float64(1), int64(2), object(7)
memory usage: 975.7+ KB

In [42]:
df_d_items = df_d_items[df_d_items['LABEL'].notna()]
#print(df_d_items[df_d_items['LABEL'].str.contains('lods', case=False)])  # empty
#print(df_d_items[df_d_items['LABEL'].str.contains('saps', case=False)])  # empty
#print(df_d_items[df_d_items['LABEL'].str.contains('oasis', case=False)])  # empty
#print(df_d_items[df_d_items['LABEL'].str.contains('sofa', case=False)])  # ROW_ID = 14750 SOFA Score 
#print(df_d_items[df_d_items['LABEL'].str.contains('sap', case=False)])  # ROW_ID = 14516 GcsApacheIIScore
#print(df_d_items[df_d_items['LABEL'].str.contains('aps', case=False)])  # ROW_ID = 14701 MapScore_ApacheIV & ROW_ID = 14673 APS
#print(df_d_items[(df_d_items['ITEMID'] == 226996) | (df_d_items['ITEMID'] == 227024) | (df_d_items['ITEMID'] == 226755)].to_string(index=False) )
print(df_d_items[df_d_items['LABEL'].str.contains('score', case=False)])  # many
itemidscores = df_d_items[df_d_items['LABEL'].str.contains('score', case=False)]['ITEMID'].tolist()
print(itemidscores)

       ROW_ID  ITEMID                    LABEL             ABBREVIATION  \
355        92      87             Braden Score                      NaN
1360     1489    4490                NAS Score                      NaN
1404      585     628           Sedation Score                      NaN
2565     2019    5927                NAS score                      NaN
9412    14728  227051         RRScore_ApacheIV         RRScore_ApacheIV
9414    14730  227053     SodiumScore_ApacheIV     SodiumScore_ApacheIV
9416    14732  227055       TempScore_ApacheIV       TempScore_ApacheIV
9419    14735  227059      UrineScore_ApacheIV      UrineScore_ApacheIV
9423    14739  227063        WBCScore_ApacheIV        WBCScore_ApacheIV
9481    14658  226980        AgeScore_ApacheIV        AgeScore_ApacheIV
9483    14660  226982    AlbuminScore_ApacheIV    AlbuminScore_ApacheIV
9667    14676  226999       BiliScore_ApacheIV       BiliScore_ApacheIV
9669    14678  227001        BunScore_ApacheIV        BunScore_ApacheIV
9672    14681  227004    ChronicScore_ApacheIV    ChronicScore_ApacheIV
9674    14683  227006      CreatScore_ApacheIV      CreatScore_ApacheIV
9681    14690  227013        GcsScore_ApacheIV        GcsScore_ApacheIV
9684    14693  227016    GlucoseScore_ApacheIV    GlucoseScore_ApacheIV
9687    14696  227019         HrScore_ApacheIV         HrScore_ApacheIV
9688    14697  227020         HtScore_ApacheIV         HtScore_ApacheIV
9692    14701  227024        MapScore_ApacheIV        MapScore_ApacheIV
9703    14712  227035     OxygenScore_ApacheIV     OxygenScore_ApacheIV
9706    14715  227038    PHPaCO2Score_ApacheIV    PHPaCO2Score_ApacheIV
10067   14750  227428               SOFA Score               SOFA Score
11933   14524  226763          HrApacheIIScore          HrApacheIIScore
11935   14526  226765         MapApacheIIScore         MapApacheIIScore
11937   14528  226767      OxygenApacheIIScore      OxygenApacheIIScore
11938   14529  226768          PhApacheIIScore          PhApacheIIScore
11941   14532  226771   PotassiumApacheIIScore   PotassiumApacheIIScore
11943   14534  226773          RrApacheIIScore          RrApacheIIScore
11945   14536  226775      SodiumApacheIIScore      SodiumApacheIIScore
11947   14538  226777        TempApacheIIScore        TempApacheIIScore
11949   14540  226779         WbcApacheIIScore         WbcApacheIIScore
12307   14499  226738         AgeApacheIIScore         AgeApacheIIScore
12474   14510  226749         ChpApacheIIScore         ChpApacheIIScore
12476   14512  226751  CreatinineApacheIIScore  CreatinineApacheIIScore
12478   14514  226753          DswfApacheScore          DswfApacheScore
12480   14516  226755         GcsApacheIIScore         GcsApacheIIScore
12485   14521  226760                HCO3Score                HCO3Score
12486   14522  226761  HematocritApacheIIScore  HematocritApacheIIScore

         DBSOURCE      LINKSTO                CATEGORY UNITNAME PARAM_TYPE  \
355       carevue  chartevents                     NaN      NaN        NaN
1360      carevue  chartevents                     NaN      NaN        NaN
1404      carevue  chartevents                     NaN      NaN        NaN
2565      carevue  chartevents                     NaN      NaN        NaN
9412   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9414   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9416   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9419   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9423   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9481   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9483   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9667   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9669   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9672   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9674   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9681   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9684   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9687   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9688   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9692   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9703   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
9706   metavision  chartevents  Scores - APACHE IV (2)     None    Numeric
10067  metavision  chartevents                 General     None    Numeric
11933  metavision  chartevents      Scores - APACHE II     None    Numeric
11935  metavision  chartevents      Scores - APACHE II     None    Numeric
11937  metavision  chartevents      Scores - APACHE II     None    Numeric
11938  metavision  chartevents      Scores - APACHE II     None    Numeric
11941  metavision  chartevents      Scores - APACHE II     None    Numeric
11943  metavision  chartevents      Scores - APACHE II     None    Numeric
11945  metavision  chartevents      Scores - APACHE II     None    Numeric
11947  metavision  chartevents      Scores - APACHE II     None    Numeric
11949  metavision  chartevents      Scores - APACHE II     None    Numeric
12307  metavision  chartevents      Scores - APACHE II     None    Numeric
12474  metavision  chartevents      Scores - APACHE II     None    Numeric
12476  metavision  chartevents      Scores - APACHE II     None    Numeric
12478  metavision  chartevents      Scores - APACHE II     None    Numeric
12480  metavision  chartevents      Scores - APACHE II     None    Numeric
12485  metavision  chartevents      Scores - APACHE II     None    Numeric
12486  metavision  chartevents      Scores - APACHE II     None    Numeric

       CONCEPTID
355          NaN
1360         NaN
1404         NaN
2565         NaN
9412         NaN
9414         NaN
9416         NaN
9419         NaN
9423         NaN
9481         NaN
9483         NaN
9667         NaN
9669         NaN
9672         NaN
9674         NaN
9681         NaN
9684         NaN
9687         NaN
9688         NaN
9692         NaN
9703         NaN
9706         NaN
10067        NaN
11933        NaN
11935        NaN
11937        NaN
11938        NaN
11941        NaN
11943        NaN
11945        NaN
11947        NaN
11949        NaN
12307        NaN
12474        NaN
12476        NaN
12478        NaN
12480        NaN
12485        NaN
12486        NaN
[87, 4490, 628, 5927, 227051, 227053, 227055, 227059, 227063, 226980, 226982, 226999, 227001, 227004, 227006, 227013, 227016, 227019, 227020, 227024, 227035, 227038, 227428, 226763, 226765, 226767, 226768, 226771, 226773, 226775, 226777, 226779, 226738, 226749, 226751, 226753, 226755, 226760, 226761]

In [39]:
chunksize = 10 ** 6
df_chart_events_scores = pd.DataFrame()
chart_events = "CHARTEVENTS.csv.gz"

for chunk in  pd.read_csv(notes_path+chart_events, chunksize=chunksize):
  chunk_df = chunk[chunk['ITEMID'].isin(itemidscores)]
  if not chunk_df.empty:
    #print(chunk_df)
    df_chart_events_scores = pd.concat([df_chart_events_scores,chunk_df])

df_chart_events_scores.info()
PATH_TO_SAVE = "/content/drive/MyDrive/NIH/Data/"
name_file_to_save = 'NOTES_NURSING_TRAJECTORIES_TSICU_SCORES.csv'
df_chart_events_scores.to_csv(PATH_TO_SAVE+name_file_to_save,index=False)

<ipython-input-39-8b034373c872>:5: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in  pd.read_csv(notes_path+chart_events, chunksize=chunksize):
<ipython-input-39-8b034373c872>:5: DtypeWarning: Columns (8,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in  pd.read_csv(notes_path+chart_events, chunksize=chunksize):
<ipython-input-39-8b034373c872>:5: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in  pd.read_csv(notes_path+chart_events, chunksize=chunksize):

<class 'pandas.core.frame.DataFrame'>
Int64Index: 351918 entries, 86459 to 193776279
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ROW_ID        351918 non-null  int64
 1   SUBJECT_ID    351918 non-null  int64
 2   HADM_ID       351918 non-null  int64
 3   ICUSTAY_ID    351550 non-null  float64
 4   ITEMID        351918 non-null  int64
 5   CHARTTIME     351918 non-null  object
 6   STORETIME     351918 non-null  object
 7   CGID          351918 non-null  float64
 8   VALUE         350741 non-null  object
 9   VALUENUM      342525 non-null  float64
 10  VALUEUOM      342103 non-null  object
 11  WARNING       444 non-null     float64
 12  ERROR         444 non-null     float64
 13  RESULTSTATUS  0 non-null       object
 14  STOPPED       351421 non-null  object
dtypes: float64(5), int64(4), object(6)
memory usage: 43.0+ MB

In [43]:
df_chart_events_scores.ITEMID.value_counts()

87        342103
628         9318
4490          49
226738        20
226768        19
226779        19
226777        19
226773        19
226771        19
226775        19
226767        19
226765        19
226763        19
226761        19
226760        19
226755        19
226751        19
226753        15
226749        15
227035         8
227063         8
227059         8
227055         8
227053         8
227051         8
227038         8
227001         8
227024         8
227020         8
227019         8
227016         8
227013         8
227006         8
227004         8
226999         8
226982         8
226980         8
5927           4
227428         3
Name: ITEMID, dtype: int64

In [3]:
file_name = "ICUSTAYS.csv"
df_ward = pd.read_csv(notes_path+file_name)
subject_id_tsicu = df_ward[(df_ward['FIRST_CAREUNIT']=='TSICU') & (df_ward['LAST_CAREUNIT']=='TSICU')].SUBJECT_ID.unique()
print(f'Number of Subjects in TSICU: {len(subject_id_tsicu)}')

Number of Subjects in TSICU: 5418

In [4]:
file_name = "DIAGNOSES_ICD.csv"
df_icd = pd.read_csv(notes_path+file_name)
df_icd_first = df_icd[df_icd['SEQ_NUM']==1]
df_icd_first_tsicu = df_icd_first[df_icd_first['SUBJECT_ID'].isin(subject_id_tsicu)]
print(f'Number of unique ICD 9 first sequence from TCICU subject: {df_icd_first_tsicu.ICD9_CODE.nunique()}')
icd_tsicu = df_icd_first_tsicu.ICD9_CODE.value_counts().nlargest(5)
print('Top 5 Popular ICD9 in the TSICU population with duplicates:')
print("code  #subjects")
icd_tsicu

Number of unique ICD 9 first sequence from TCICU subject: 1387
Top 5 Popular ICD9 in the TSICU population with duplicates:
code  #subjects

431      190
0389     164
85221    103
51881     81
430       79
Name: ICD9_CODE, dtype: int64

In [5]:
condition = []
for item in df_icd_first['ICD9_CODE'].values:
  if item.isdigit():
    item = float(item)
    if (item>799 and item<900):
      condition.append(True)
    else: 
      condition.append(False)
  else:
      condition.append(False)


icd8xxfirst_subjects_ids = df_icd_first[condition]['SUBJECT_ID'].unique()
print(f'Number of subjects with a first sequence ICD 9 code [800,900) : {len(icd8xxfirst_subjects_ids)}')

Number of subjects with a first sequence ICD 9 code [800,900) : 154

In [6]:
patients = "PATIENTS.csv"
df_patients = pd.read_csv(notes_path+patients)
df_patients_icd8xx_tsicu = df_patients[df_patients['SUBJECT_ID'].isin(icd8xxfirst_subjects_ids)]

print('Subjects Expired (1), Alive (0): ')
print(df_patients_icd8xx_tsicu['EXPIRE_FLAG'].value_counts())
print(df_patients_icd8xx_tsicu['GENDER'].value_counts())

Subjects Expired (1), Alive (0):
1    87
0    67
Name: EXPIRE_FLAG, dtype: int64
F    87
M    67
Name: GENDER, dtype: int64

In [7]:
note_events = "NOTEEVENTS.csv"
df_note_events = pd.read_csv(notes_path+note_events)
df_note_events.info()

<ipython-input-7-8fd00f55f791>:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_note_events = pd.read_csv(notes_path+note_events)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083180 entries, 0 to 2083179
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   ROW_ID       int64
 1   SUBJECT_ID   int64
 2   HADM_ID      float64
 3   CHARTDATE    object
 4   CHARTTIME    object
 5   STORETIME    object
 6   CATEGORY     object
 7   DESCRIPTION  object
 8   CGID         float64
 9   ISERROR      float64
 10  TEXT         object
dtypes: float64(3), int64(2), object(6)
memory usage: 174.8+ MB

In [8]:
df_note_icd8xx_tsicu = df_note_events[df_note_events['SUBJECT_ID'].isin(icd8xxfirst_subjects_ids)]
print(f'Number of total notes: {len(df_note_icd8xx_tsicu)}')
df_nursing_progress_note_icd8xx_tsicu = df_note_icd8xx_tsicu[df_note_icd8xx_tsicu['DESCRIPTION']=='Nursing Progress Note']
print(f'Number of Nursing Progress Notes: {len(df_nursing_progress_note_icd8xx_tsicu)}')
df_discharge_note_icd8xx_tsicu = df_note_icd8xx_tsicu[df_note_icd8xx_tsicu['CATEGORY']=='Discharge summary']
print(f'Number of Discharge summary: {len(df_discharge_note_icd8xx_tsicu)}')

Number of total notes: 18648
Number of Nursing Progress Notes: 4317
Number of Discharge summary: 439

In [9]:
cgid_icd8xx_tsicu = df_nursing_progress_note_icd8xx_tsicu['CGID'].unique()
print(f'Number of caregivers: {len(df_nursing_progress_note_icd8xx_tsicu)}')

Number of caregivers: 4317

In [10]:
caregivers = "CAREGIVERS.csv"
df_caregivers = pd.read_csv(notes_path+caregivers)
df_caregivers[df_caregivers['CGID'].isin(cgid_icd8xx_tsicu)].LABEL.value_counts()

RN      237
RNs       4
Rn        3
PCT       2
Nurs      1
CoRN      1
rn        1
Res       1
MS        1
Name: LABEL, dtype: int64

In [11]:
name_file= "ADMISSIONS.csv"
df_adm = pd.read_csv(notes_path+name_file)
df_adm_icd8xx_tsicu = df_adm[df_adm['SUBJECT_ID'].isin(cgid_icd8xx_tsicu)]
df_adm_icd8xx_tsicu

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
14285,17998,14714,142710,2150-03-07 21:50:00,2150-03-14 19:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,SPAN,CATHOLIC,DIVORCED,HISPANIC/LATINO - PUERTO RICAN,2150-03-07 18:00:00,2150-03-07 22:50:00,FEVER,0,0
14286,17999,14714,115276,2151-01-12 17:35:00,2151-01-19 17:16:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,SPAN,CATHOLIC,DIVORCED,HISPANIC/LATINO - PUERTO RICAN,2151-01-12 12:57:00,2151-01-12 19:57:00,HYPOTENSION,0,1
14293,18006,14719,106692,2125-12-03 13:00:00,2125-12-20 12:44:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,SNF,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,NaN,NaN,CAROTID STENOSIS,0,1
14853,17902,14626,148547,2190-07-16 07:15:00,2190-07-22 17:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,OTHER,MARRIED,PATIENT DECLINED TO ANSWER,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
15023,17936,14657,111125,2200-07-05 19:37:00,2200-07-11 10:45:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Self Pay,NaN,OTHER,DIVORCED,UNKNOWN/NOT SPECIFIED,2200-07-05 15:43:00,2200-07-05 21:00:00,LUMBAR FRACTURE,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27638,26001,21297,134084,2111-08-21 08:46:00,2111-08-25 11:20:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,NEWBORN,0,0
27639,26002,21297,111349,2111-08-26 16:35:00,2111-08-29 18:00:00,NaN,EMERGENCY,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,HYPERBILIRUBINEMIA,0,1
27737,26233,21476,176844,2102-09-20 14:56:00,2102-09-23 19:15:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,ENGL,PROTESTANT QUAKER,SEPARATED,BLACK/AFRICAN AMERICAN,2102-09-20 11:45:00,2102-09-20 16:07:00,STROKE;TELEMETRY,0,1
28046,26196,21452,108178,2119-01-26 18:12:00,2119-02-13 11:13:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,NaN,CATHOLIC,MARRIED,WHITE,2119-01-26 13:56:00,2119-01-26 19:38:00,R/O OBSTRUCTION-ABDOMINAL PAIN,0,1
28047,26197,21452,133978,2122-12-27 07:04:00,2123-01-02 15:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,NaN,CATHOLIC,MARRIED,WHITE,2122-12-27 01:10:00,2122-12-27 08:36:00,UROSEPSIS,0,1

Report

In [12]:
print(f'Number of Subjects in TSICU: {len(subject_id_tsicu)}')
print(f'Number of subjects with a first sequence ICD 9 code [800,900) : {len(icd8xxfirst_subjects_ids)}')
print('')
print('Subjects Expired (1), Alive (0): ')
print(df_patients_icd8xx_tsicu['EXPIRE_FLAG'].value_counts())
print('')
print('Gender:')
print(df_patients_icd8xx_tsicu['GENDER'].value_counts())
print('')
print(f'Number of total notes: {len(df_note_icd8xx_tsicu)}')
print(f'Number of Nursing Progress Notes: {len(df_nursing_progress_note_icd8xx_tsicu)}')
print(f'Number of Discharge summary: {len(df_discharge_note_icd8xx_tsicu)}')
#print(f'Number of caregivers: {len(cgid_maxicu_tsicu)}')

Number of Subjects in TSICU: 5418
Number of subjects with a first sequence ICD 9 code [800,900) : 154

Subjects Expired (1), Alive (0):
1    87
0    67
Name: EXPIRE_FLAG, dtype: int64

Gender:
F    87
M    67
Name: GENDER, dtype: int64

Number of total notes: 18648
Number of Nursing Progress Notes: 4317
Number of Discharge summary: 439

Calculate oasis score

In [13]:
output_events = "OUTPUTEVENTS.csv"
df_output_events = pd.read_csv(notes_path+output_events)
df_output_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4349218 entries, 0 to 4349217
Data columns (total 13 columns):
 #   Column      Dtype
---  ------      -----
 0   ROW_ID      int64
 1   SUBJECT_ID  int64
 2   HADM_ID     float64
 3   ICUSTAY_ID  float64
 4   CHARTTIME   object
 5   ITEMID      int64
 6   VALUE       float64
 7   VALUEUOM    object
 8   STORETIME   object
 9   CGID        int64
 10  STOPPED     float64
 11  NEWBOTTLE   float64
 12  ISERROR     float64
dtypes: float64(6), int64(4), object(3)
memory usage: 431.4+ MB

In [ ]:
def compute_oasis(pd_dataframe):
    """
    Authors link: https://alistairewj.github.io/project/oasis/
    Github link: https://gist.github.com/tompollard/d4c216d0c4ad30481c99

    Takes Pandas DataFrame as an argument and computes Oxford Acute 
    Severity of Illness Score (OASIS) (http://oasisicu.com/)
    
    The DataFrame should include only measurements taken over the first 24h 
    from admission. pd_dataframe should contain the following columns:
    
    'prelos' => Pre-ICU length of stay, hours
    'age' => Age of patient, years
    'GCS_total' => Total Glasgow Coma Scale for patient
    'hrate' => All heart rate measurements
    'MAP' => All mean arterial blood pressure measurements
    'resp_rate' => All respiratory rate measurements
    'temp_c' => All temperature measurements, C
    'urine' => Total urine output over 24 h (note, not consecutive measurements)
    'ventilated' => Is patient ventilated? (y,n)
    'admission_type' => Type of admission (elective, urgent, emergency) 
    
    Reference:
    Johnson AE, Kramer AA, Clifford GD. A new severity of illness scale 
    using a subset of Acute Physiology And Chronic Health Evaluation 
    data elements shows comparable predictive accuracy.
    Crit Care Med. 2013 Jul;41(7):1711-8. doi: 10.1097/CCM.0b013e31828a24fe
    http://www.ncbi.nlm.nih.gov/pubmed/23660729
    """
    
    # 10 variables
    oasis_score, oasis_prelos, oasis_age, oasis_gcs, oasis_hr, oasis_map, oasis_resp, \
        oasis_temp, oasis_urine, oasis_vent, oasis_surg = 0,0,0,0,0,0,0,0,0,0,0   
    # Pre-ICU length of stay, hours
    for val in pd_dataframe['prelos']:
        if val >= 4.95 and val <= 24.0:
            oasis_prelos = np.nanmax([0,oasis_prelos])
        elif val > 311.8:
            oasis_prelos = np.nanmax([1,oasis_prelos])
        elif val > 24.0 and val <= 311.8:
            oasis_prelos = np.nanmax([2,oasis_prelos])
        elif val >= 0.17 and val < 4.95:
            oasis_prelos = np.nanmax([3,oasis_prelos])
        elif val < 0.17:
            oasis_prelos = np.nanmax([5,oasis_prelos])
        else:
            oasis_prelos = np.nanmax([np.nan,oasis_prelos])  
    if pd_dataframe['prelos'].isnull().all():
        oasis_prelos = np.nan 
    # Age, years
    for val in pd_dataframe['age']:
        if val < 24:
            oasis_age = np.nanmax([0,oasis_age])
        elif val >= 24 and val <= 53:
            oasis_age = np.nanmax([3,oasis_age])
        elif val > 53 and val <= 77:
            oasis_age = np.nanmax([6,oasis_age])
        elif val > 77 and val <= 89:
            oasis_age = np.nanmax([9,oasis_age])
        elif val > 89:
            oasis_age = np.nanmax([7,oasis_age])
        else:
            oasis_age = np.nanmax([np.nan,oasis_age])
    if pd_dataframe['age'].isnull().all():
        oasis_age = np.nan 
    # Glasgow Coma Scale
    for val in pd_dataframe['GCS_total']:
        if val == 15:
            oasis_gcs = np.nanmax([0,oasis_gcs])
        elif val == 14:
            oasis_gcs = np.nanmax([3,oasis_gcs])
        elif val >= 8 and val <= 13:
            oasis_gcs = np.nanmax([4,oasis_gcs])
        elif val >= 3 and val <= 7:
            oasis_gcs = np.nanmax([10,oasis_gcs])
        else:
            oasis_gcs = np.nanmax([np.nan,oasis_gcs])
    if pd_dataframe['GCS_total'].isnull().all():
        oasis_gcs = np.nan     
    # Heart rate
    for val in pd_dataframe['hrate']:
        if val >= 33 and val <= 88:
            oasis_hr = np.nanmax([0,oasis_hr])
        elif val > 88 and val <= 106:
            oasis_hr = np.nanmax([1,oasis_hr])
        elif val > 106 and val <= 125:
            oasis_hr = np.nanmax([3,oasis_hr])
        elif val < 33:
            oasis_hr = np.nanmax([4,oasis_hr])
        elif val > 125:
            oasis_hr = np.nanmax([6,oasis_hr])
        else:
            oasis_hr = np.nanmax([np.nan,oasis_hr])
    if pd_dataframe['hrate'].isnull().all():
        oasis_hr = np.nan 
    # Mean arterial pressure
    for val in pd_dataframe['MAP']:
        if val >=61.33 and val <= 143.44:
            oasis_map = np.nanmax([0,oasis_map])
        elif val >= 51.0 and val < 61.33:
            oasis_map = np.nanmax([2,oasis_map])
        elif (val >= 20.65 and val < 51.0) or (val > 143.44):
            oasis_map = np.nanmax([3,oasis_map])
        elif val < 20.65:
            oasis_map = np.nanmax([4,oasis_map])
        else:
            oasis_map = np.nanmax([np.nan,oasis_map])
    if pd_dataframe['MAP'].isnull().all():
        oasis_map = np.nan 
    # Respiratory Rate
    for val in pd_dataframe['resp_rate']:
        if val >=13 and val <= 22:
            oasis_resp = np.nanmax([0,oasis_resp])
        elif (val >= 6 and val <= 12) or (val >= 23 and val <= 30):
            oasis_resp = np.nanmax([1,oasis_resp])
        elif val > 30 and val <= 44:
            oasis_resp = np.nanmax([6,oasis_resp])
        elif val > 44:
            oasis_resp = np.nanmax([9,oasis_resp])
        elif val < 6:
            oasis_resp = np.nanmax([10,oasis_resp])
        else:
            oasis_resp = np.nanmax([np.nan,oasis_resp])
    if pd_dataframe['resp_rate'].isnull().all():
        oasis_resp = np.nan 
    # Temperature, C
    for val in pd_dataframe['temp_c']:
        if val >= 36.40 and val <= 36.88:
            oasis_temp = np.nanmax([0,oasis_temp])
        elif (val >= 35.94 and val < 36.40) or (val > 36.88 and val <= 39.88):
            oasis_temp = np.nanmax([2,oasis_temp])
        elif val < 33.22:
            oasis_temp = np.nanmax([3,oasis_temp])            
        elif val >= 33.22 and val < 35.94:
            oasis_temp = np.nanmax([4,oasis_temp])
        elif val > 39.88:
            oasis_temp = np.nanmax([6,oasis_temp])
        else:
            oasis_temp = np.nanmax([np.nan,oasis_temp])
    if pd_dataframe['temp_c'].isnull().all():
        oasis_temp = np.nan 
    # Urine output, cc/day (total over 24h)
    val = np.max(pd_dataframe['urine'])
    if val >=2544.0 and val <= 6896.0:
        oasis_urine = np.nanmax([0,oasis_urine])
    elif val >= 1427.0 and val < 2544.0:
        oasis_urine = np.nanmax([1,oasis_urine])
    elif val >= 671.0 and val < 1427.0:
        oasis_urine = np.nanmax([5,oasis_urine])
    elif val > 6896.0:
        oasis_urine = np.nanmax([8,oasis_urine])
    elif val < 671:
        oasis_urine = np.nanmax([10,oasis_urine])
    else:
        oasis_urine = np.nanmax([np.nan,oasis_urine])
    if pd_dataframe['urine'].isnull().all():
        oasis_urine = np.nan 
    # Ventilated y/n
    for val in pd_dataframe['ventilated']:
        if val == 'n':
            oasis_vent = np.nanmax([0,oasis_vent])
        elif val == 'y':
            oasis_vent = np.nanmax([9,oasis_vent])
        else:
            oasis_vent = np.nanmax([np.nan,oasis_vent])
    if pd_dataframe['ventilated'].isnull().all():
        oasis_vent = np.nan 
    # Elective surgery y/n
    for val in pd_dataframe['admission_type']:
        if val == 'elective':
            oasis_surg = np.nanmax([0,oasis_surg])
        elif val in ['urgent','emergency']:
            oasis_surg = np.nanmax([6,oasis_surg])
        else:
            oasis_surg = np.nanmax([np.nan,oasis_surg])
    if pd_dataframe['admission_type'].isnull().all():
        oasis_surg = np.nan 
    # Return sum
    oasis_score = sum([oasis_prelos, oasis_age, oasis_gcs, oasis_hr, oasis_map, oasis_resp, \
        oasis_temp, oasis_urine, oasis_vent, oasis_surg])
    return oasis_score

# END

In [ ]:
print(df_note_events['CATEGORY'].unique())

## **Data Preprocessing**

In [ ]:
df_note_events.info()

Grab tsicu notes, merge with ward and patients tables

In [ ]:
# get new type of notes (TSICU)
df_notes_TSICU = pd.DataFrame()
#df_notes_TSICU = df_notes.merge(df_note_events[['ROW_ID', 'CATEGORY']], on='ROW_ID')
df_notes_TSICU = df_note_events.merge(df_caregivers.drop('ROW_ID', axis=1), on='CGID')
#df_notes_TSICU = df_notes_TSICU.merge(df_ward.drop('ROW_ID', axis=1), on='SUBJECT_ID')
df_notes_TSICU = df_notes_TSICU.merge(df_patients.drop('ROW_ID', axis=1), on='SUBJECT_ID')
#df_notes_TSICU = df_notes_TSICU[(df_notes_TSICU['first_careunit'] == 'TSICU') & (df_notes_TSICU['last_careunit'] == 'TSICU')].drop_duplicates()
df_notes_TSICU.info()

In [ ]:
df_notes_TSICU.head(5)

Join with ICD

In [ ]:
icd = "DIAGNOSES_ICD.csv"
df_icd = pd.read_csv(notes_path+icd)
df_icd.columns = df_icd.columns.str.upper()
df_icd = df_icd.dropna(subset=['SEQ_NUM'])
df_icd['SEQ_NUM'] = df_icd['SEQ_NUM'].astype(int)
unique_values = df_icd['SEQ_NUM'].unique()
print("unique_values: ")
print(unique_values)
idx = df_icd.groupby(['HADM_ID', 'SUBJECT_ID'])['SEQ_NUM'].idxmin()
df_icd = df_icd.loc[idx]
df_icd.info()

In [ ]:
df_notes_TSICU = df_notes_TSICU.merge(df_icd[['HADM_ID','ICD9_CODE','SEQ_NUM', 'SUBJECT_ID']], on=['HADM_ID', 'SUBJECT_ID'])
df_notes_TSICU.info()

In [ ]:
df_notes_TSICU.head(20)

In [ ]:
grouping = df_notes_TSICU.groupby(['CGID','SUBJECT_ID']).size()
df_notes_TSICU['num_of_notes'] = df_notes_TSICU.set_index(['CGID','SUBJECT_ID']).index.map(grouping)
df_notes_TSICU_filtered = df_notes_TSICU[df_notes_TSICU['num_of_notes'] > 1]
df_notes_TSICU_filtered.info()

In [ ]:
df_notes_TSICU_filtered.head(10)

Filter by number of notes

In [ ]:
gb_notes = df_notes_TSICU_filtered.groupby(['ICD9_CODE'])
num_notes = gb_notes['TEXT'].count()

print(f'number of notes: min={num_notes.min()}, max={num_notes.max()}, mean={num_notes.mean()},  median={num_notes.median()}')
sns.boxplot(x=num_notes)
sns.displot(num_notes[((num_notes>2) & (num_notes<100))])

In [ ]:
df_notes_TSICU_filtered.info()

In [ ]:
icd9_grouping = df_notes_TSICU_filtered.groupby(['ICD9_CODE']).size()
df_notes_TSICU_filtered['num_of_conditions'] = df_notes_TSICU_filtered.set_index(['ICD9_CODE']).index.map(icd9_grouping)
#df_notes_TSICU_filtered = df_notes_TSICU_filtered[(df_notes_TSICU_filtered['num_of_conditions'] >= 15) & (df_notes_TSICU_filtered['num_of_conditions'] <= 1000)]
#df_notes_TSICU_filtered = df_notes_TSICU_filtered[(df_notes_TSICU_filtered['num_of_conditions'] >= 15) & (df_notes_TSICU_filtered['num_of_conditions'] <= 100)]
df_notes_TSICU_filtered.info()
print(icd9_grouping)

In [ ]:
df_notes_TSICU_dropped_cols = df_notes_TSICU_filtered.drop(['STORETIME','CHARTDATE','CHARTTIME','DOB','DOD','DOD_HOSP','DOD_SSN'], axis=1)
df_notes_TSICU_dropped_cols.columns

select emotional words then filter rows that dont have a minimum number of them

In [ ]:
def filter_for_emotional_words(df):
  selected_words = ['pain', 'family', 'stable', 'care', 'well', 'social', 'support', 'able', 'decreased', 'warm', 'unable', 'strong', 'intact', 'good', 'times', 'aware', 'eyes', 'tolerated', 'denies', 'tolerating', 'please', 'palpable']
  print("selected_words list length: ", len(selected_words))
  pattern = '|'.join(selected_words)
  new_df = df[df['TEXT'].str.contains(pattern, regex=True)].copy()
  #filtered_data = df_notes_TSICU[df_notes_TSICU['TEXT'].str.contains(pattern, regex=True)].copy()
  new_df['num_search_words'] = new_df['TEXT'].str.count(pattern)
  #new_df = new_df[new_df['num_search_words'] >= 0]
  new_df.info()
  return new_df

In [ ]:
#filtered_data = filter_for_emotional_words(df_notes_TSICU_dropped_cols)
filtered_data = df_notes_TSICU_dropped_cols

Random selection from sample set

In [ ]:
#random_filtered_data = filtered_data.sample(n=50000, random_state=42)
random_filtered_data = filtered_data

Remove similar sentences

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def remove_similar_notes(df):
  sentences = df['TEXT'].tolist()
  vectorizer = TfidfVectorizer()
  tfidf_matrix = vectorizer.fit_transform(sentences)
  similarity_threshold = 0.8

  similar_indices = []
  for i, sentence in enumerate(sentences):  # needs to be max 1000 entries
    if any(cosine_similarity(tfidf_matrix[i], tfidf_matrix[j])[0][0] > similarity_threshold for j in range(i)):  # very slow ~10 minutes for 1000 entries, exponential complexity (more than 5 hours if 6000 entries)
      similar_indices.append(i)
  index_labels = df.index[similar_indices]
  df.drop(index_labels, inplace=True)
  return df

Inverse Document Frequency

In [ ]:
vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = vectorizer.fit_transform(df_notes_TSICU['TEXT'])

feature_names = vectorizer.get_feature_names_out()
tfidf_scores = tfidf_matrix.sum(axis=0).A1
word_score_dict = dict(zip(feature_names, tfidf_scores))

sorted_words = sorted(word_score_dict.items(), key=lambda x: x[1], reverse=True)

top_words = sorted_words[:50]

In [ ]:
print("Rank\tWord\t\t\tCount")
for rank, (word, score) in enumerate(top_words, start=1):
  print(f"{rank}\t{word.ljust(20)}\t{score}")

In [ ]:
#random_filtered_data = remove_similar_notes(random_filtered_data)
random_filtered_data.info()

Find matching conditions for both expired flags

In [ ]:
def split_set_half_expired(df):
  df['EXPIRE_FLAG'] = df['EXPIRE_FLAG'].astype(int)
  group_conditions = df.groupby(['ICD9_CODE', 'EXPIRE_FLAG'])
  def balance_conditions(g1,g2,size):
    size = min(len(g1), len(g2), size)
    return g1.sample(n=size, random_state=1), g2.sample(n=size, random_state=1)

  rows = []
  size = 50000

  for drg_desc, group in group_conditions:
    icd9, expire = drg_desc
    if (icd9, 1-expire) in group_conditions.groups:
      paired_group = group_conditions.get_group((icd9, 1-expire))
      group_sample1, group_sample2 = balance_conditions(group, paired_group, size)
      rows.append(group_sample1)
      rows.append(group_sample2)
      size -= len(group_sample1)
    if size <= 0:
      break

  new_df = pd.concat(rows)
  new_df = new_df.drop_duplicates()

  new_df.info()
  #print(new_df[['ICD9_CODE', 'EXPIRE_FLAG']])
  return new_df

  #valid_groups = [key for key, group in group_conditions.groups.keys() if (key[0], key[1], 1 - key[2]) in group_conditions.groups]
  #for key in valid_groups:
    #pass

In [ ]:
#balanced_data = split_set_half_expired(random_filtered_data)
balanced_data = random_filtered_data

Display notes

In [ ]:
pd.set_option('display.max_colwidth', 250)
pd.set_option('display.max_rows', None)
#print(balanced_data['TEXT'].head(200))
pd.reset_option('display.max_colwidth')
pd.reset_option('display.max_rows')

In [ ]:
print(balanced_data.columns)
print('\n'+"Number of rows: "+str(len(balanced_data)))

In [ ]:
balanced_data.info()

In [ ]:
no_duplicates = balanced_data.sort_values('ROW_ID').drop_duplicates(subset=['CGID', 'SUBJECT_ID'])  
no_duplicates = no_duplicates.drop(['TEXT'], axis=1)  # removes text notes
no_duplicates.info()

Save to CSV

In [ ]:
# path and name of the cvs file 
PATH_TO_SAVE = "/content/drive/MyDrive/NIH/Data/"
name_file_to_save = 'NOTES_NURSING_TRAJECTORIES_TSICU_COUNTS.csv'
no_duplicates.to_csv(PATH_TO_SAVE+name_file_to_save,index=False)

Gather- top ICD9, # of: patients, deceased, CGs, notes

In [ ]:
icd9_max_val = balanced_data['num_of_conditions'].max()
icd9_max_df = balanced_data[balanced_data['num_of_conditions'] == icd9_max_val]

print("Max ICD9 code: " + icd9_max_df['ICD9_CODE'].unique())
print("Number of patients: " + str(icd9_max_df['SUBJECT_ID'].nunique()))
print("Number of deceased patients: " + str((icd9_max_df.drop_duplicates(subset='SUBJECT_ID')['EXPIRE_FLAG'] == 1).sum()))
print("Number of caregivers: " + str(icd9_max_df['CGID'].nunique()))
unique_cgid = icd9_max_df['CGID'].unique()
unique_cgid_df = icd9_max_df[icd9_max_df['CGID'].isin(unique_cgid)].drop_duplicates(subset=['CGID', 'LABEL'])
unique_cgid_df['LABEL'] = unique_cgid_df['LABEL'].fillna('UNKNOWN')
unique_cgid_df['LABEL'] = unique_cgid_df['LABEL'].str.upper()
print("Caregiver labels: " + '\n' + str(unique_cgid_df['LABEL'].value_counts()))
print("Number of caregivers: " + str(icd9_max_df['CGID'].nunique()))
print("Number of notes: " + str(len(icd9_max_df)))

deceased patients for unfiltered set

In [ ]:
len(df_notes_TSICU['SUBJECT_ID'].unique())
deceased_TSICU = df_notes_TSICU[df_notes_TSICU['EXPIRE_FLAG'] == 1]
deceased_TSICU.info()

In [ ]:
sns.set()

gb_notes = deceased_TSICU.groupby(['CGID','SUBJECT_ID'])
num_notes = gb_notes['TEXT'].count()
print(num_notes)
print(f'number of notes: min={num_notes.min()}, max={num_notes.max()}, mean={num_notes.mean()},  median={num_notes.median()}')
sns.boxplot(x=num_notes)
sns.displot(num_notes[((num_notes>2) & (num_notes<15))])

Seperate deceased and living

In [ ]:
deceased_patients = balanced_data[balanced_data['EXPIRE_FLAG'] == 1]
deceased_patients.info()

In [ ]:
living_patients = balanced_data[balanced_data['EXPIRE_FLAG'] == 0]
living_patients.info()

Tokenized words

In [ ]:
#text = df_notes_TSICU['TEXT'].str.cat(sep=' ')
#words = nltk.word_tokenize(text)  # very slow

Count words in notes

In [ ]:
#stopwords = nltk.corpus.stopwords.words('english')
#words = [word.lower() for word in words if word.lower() not in stopwords and re.match(r'\b\w+\b', word)]  # also slow but only kinda slow
#word_counts = Counter(words)
#most_common_words = word_counts.most_common(300)

In [ ]:
#print("Rank\tWord\t\t\tCount")
#for rank, word_count in enumerate(most_common_words, start=1):
  #word, count = word_count
  #print(f"{rank}\t{word.ljust(20)}\t{count}")

Emotional words

In [ ]:
#emotional_words = []
#for word_count in most_common_words:
  #word = word_count[0]
  #synsets = wn.synsets(word)
  #if synsets:
    #senti_synset = swn.senti_synset(synsets[0].name())
    #if senti_synset.pos_score() > 0.45 or senti_synset.neg_score() > 0.45:
      #emotional_words.append(word)

#emotional_words

In [ ]:
#from textblob import TextBlob
#emotional_words = []
#for word_count in most_common_words:
  #word = word_count[0]
  #tb = TextBlob(word)
  #sentiment = tb.sentiment.polarity
  #if abs(sentiment) > 0.35:
    #emotional_words.append(word)

#emotional_words