<a href="https://colab.research.google.com/github/tanoManzo/mimic_trajectories/blob/dev_jamia/MIMIC_TRAJECTORY_NICU_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MIMIC III v1.4 dataset, Table Note Events

#### load notes dataframe

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

PATH_NOTES = "/content/drive/MyDrive/NIH/Data/NOTEEVENTS.csv"
df_notes = pd.read_csv(PATH_NOTES)
df_notes['CGID'] = df_notes['CGID'].astype('Int64')
df_notes.sample(5)

<ipython-input-2-660dc60c3942>:5: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_notes = pd.read_csv(PATH_NOTES)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
1748053,1753701,5333,139530.0,2163-05-02,2163-05-02 14:19:00,2163-05-02 14:57:00,Nursing/other,Report,14274,NaN,Nursing Progress Note\n\n\n#2 O/[**Name (NI) 2...
1593765,1568460,23434,128341.0,2197-04-11,2197-04-11 06:02:00,2197-04-11 06:24:00,Nursing/other,Report,17053,NaN,ccu nsg admit note.\n[**2197-4-10**]--65 yo ma...
1923407,1961806,20719,156246.0,2171-03-21,2171-03-21 14:13:00,2171-03-21 15:20:00,Nursing/other,Report,20522,NaN,Nursing Note\nI have examined this infant. I ...
1944682,1972183,21316,104397.0,2125-12-26,2125-12-26 03:12:00,2125-12-26 03:20:00,Nursing/other,Report,17681,NaN,Nursing progress note\n\n\n1 - RESP - Pt recei...
323964,326895,30437,191673.0,2180-04-20,2180-04-20 03:54:00,2180-04-20 03:48:27,Nursing,Nursing Progress Note,19891,NaN,"44 yo F with PMH of HTN, asthma and GI stromal..."

### neonatal notes

In [3]:
file_name = "/content/drive/MyDrive/NIH/Data/ICUSTAYS.csv"
df_icu = pd.read_csv(file_name)
df_icu

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202
...,...,...,...,...,...,...,...,...,...,...,...,...
61527,59806,94944,143774,201233,metavision,CSRU,CSRU,15,15,2104-04-15 10:18:16,2104-04-17 14:51:00,2.1894
61528,59807,94950,123750,283653,metavision,CCU,CCU,7,7,2155-12-08 05:33:16,2155-12-10 17:24:58,2.4942
61529,59808,94953,196881,241585,metavision,SICU,SICU,57,57,2160-03-03 16:09:11,2160-03-04 14:22:33,0.9259
61530,59809,94954,118475,202802,metavision,CSRU,CSRU,15,15,2183-03-25 09:53:10,2183-03-27 17:55:03,2.3346
61531,59810,94956,156386,275346,metavision,TSICU,TSICU,14,14,2157-05-19 02:54:54,2157-05-23 14:58:04,4.5022

In [4]:
def subject_ids_nicu(x):
  condition = (x['FIRST_CAREUNIT']=='NICU') & (x['LAST_CAREUNIT']=='NICU')
  ids = x[condition]['SUBJECT_ID'].unique()
  return ids

# get nicu notes
df_notes_nicu = df_notes[df_notes['SUBJECT_ID'].isin(subject_ids_nicu(df_icu))]
df_notes_nicu

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
6170,12240,20939,113947.0,2196-04-11,NaN,NaN,Discharge summary,Report,<NA>,NaN,Admission Date: [**2196-2-5**] Discharge ...
6173,12243,10201,147479.0,2148-02-05,NaN,NaN,Discharge summary,Report,<NA>,NaN,Admission Date: [**2148-2-3**] Discharg...
6174,12244,8026,116678.0,2140-03-21,NaN,NaN,Discharge summary,Report,<NA>,NaN,Admission Date: [**2140-3-19**] Discharge...
6183,12253,19967,146232.0,2168-03-08,NaN,NaN,Discharge summary,Report,<NA>,NaN,Admission Date: [**2168-3-2**] Discharg...
6184,12254,14712,188201.0,2110-02-04,NaN,NaN,Discharge summary,Report,<NA>,NaN,Admission Date: [**2110-1-29**] Dischar...
...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con..."
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104,NaN,Family Meeting Note\nFamily meeting held with ...
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...

## pre-processing

In [5]:
df_notes_nicu['CATEGORY'].value_counts()

Nursing/other        404425
Radiology             14882
Discharge summary      4248
Echo                   1204
ECG                     637
Name: CATEGORY, dtype: int64

remove cgid nan

In [6]:
df_notes_nicu_with_cgid = df_notes_nicu[~df_notes_nicu['CGID'].isna()].reset_index(drop=True)
df_notes_nicu_with_cgid['CATEGORY'].value_counts()

Nursing/other    404425
Name: CATEGORY, dtype: int64

## Exploration

In [44]:
# at least 2 notes cg patient
note_condition  = group_cg_pt['TEXT'].transform('count') > 1
df_notes_nicu_with_cgid_min_note = df_notes_nicu_with_cgid[note_condition]
info_cg_pt = df_notes_nicu_with_cgid_min_note.groupby(['CGID', 'SUBJECT_ID'])['TEXT'].count().describe()

# cg number
n_cg = df_notes_nicu_with_cgid_min_note['CGID'].nunique()
n_pt = df_notes_nicu_with_cgid_min_note['SUBJECT_ID'].nunique()


print(f"number of: cg={n_cg}, pt={n_pt}, av_notes_cg_per_pt={info_cg_pt['mean']}")

number of: cg=372, pt=4508, av_notes_cg_per_pt=4.691586007811173

#### load patients dataframe

In [46]:
PATH_PATIENTS = "/content/drive/MyDrive/NIH/Data/PATIENTS.csv"
df_patients = pd.read_csv(PATH_PATIENTS)
df_patients.sample(5)

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
19398,20515,21736,M,2102-12-27 00:00:00,2189-01-26 00:00:00,NaN,2189-01-26 00:00:00,1
3372,2721,2878,F,2070-02-19 00:00:00,2145-12-07 00:00:00,2145-12-07 00:00:00,2145-12-07 00:00:00,1
23997,14187,14999,M,2083-05-07 00:00:00,2155-08-20 00:00:00,2155-08-20 00:00:00,2155-08-20 00:00:00,1
39477,38370,68621,F,2136-07-20 00:00:00,NaN,NaN,NaN,0
43852,39999,74969,M,2107-03-20 00:00:00,NaN,NaN,NaN,0

#### load caregivers dataframe

In [45]:
PATH_CG = "/content/drive/MyDrive/NIH/Data/CAREGIVERS.csv"
df_cg = pd.read_csv(PATH_CG)
df_cg.sample(5)

      ROW_ID   CGID LABEL DESCRIPTION
1284    2131  16077    MD         NaN
6986    5907  19860   RPh         NaN
2440    1280  15215    MD         NaN
5152    4304  18253    RN         NaN
7440    7303  21554   NaN         NaN

In [ ]:
df_notes_nicu_with_cgid_min_note